# {{@@ env['dotdrop_warning'] @@}}

[user]
    email = {{@@ env['git_email'] @@}}
    name = {{@@ env['git_name'] @@}}
[color]
    ui = true
[alias]
    lfa = "!f() { git diff --name-status -r "HEAD~$1"; }; f"
    dad = "!curl https://icanhazdadjoke.com/ && git add"
    ass = "!echo '(‿ˠ‿)' && git add"
    mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
    cleanup-branches = !git fetch --all --prune && git branch -d $(git branch --merged=origin/master | grep -vE `git rev-parse --abbrev-ref HEAD`'|master' )
[core]
    excludesfile = /home/{{@@ env['USER'] @@}}/.gitignore_global
[pull]
    rebase = true
