actions:
  dunst-restart: killall dunst; notify-send -t 2000 -i face-sick "Dunst restarted"
  font-cache-refresh: fc-cache -f -v
  i3-restart: ~/.i3/i3restart.sh
  reload-xresources: xrdb -merge ~/.Xresources
config:
  backup: true
  banner: false
  create: true
  dotpath: dotfiles
  ignoreempty: false
  keepdot: true
  link_by_default: false
  longkey: false
  showdiff: true
  workdir: ~/.config/dotdrop
dotfiles:
  d_gtk_theme:
    dst: ~/.themes/My_Fancy_Theme/
    src: .themes/My_Fancy_Theme/
  d_i3:
    actions:
    - i3-restart
    dst: ~/.i3/
    src: .i3/
  d_mpv:
    dst: ~/.config/mpv/
    src: .config/mpv/
  d_nemo_actions:
    dst: ~/.local/share/nemo/actions
    src: .local/share/nemo/actions
  d_qutebrowser:
    dst: ~/.config/qutebrowser/
    src: .config/qutebrowser/
  d_syncit:
    dst: ~/scripts/syncit/
    src: scripts/syncit/
  d_termite:
    dst: ~/.config/termite
    src: .config/termite
  d_vim:
    dst: ~/.vim
    src: .vim
  d_yay:
    dst: ~/.config/yay
    src: .config/yay
  d_zshrc.d:
    dst: ~/.zshrc.d/
    src: .zshrc.d/
  f_ario_profiles.xml:
    dst: ~/.config/ario/profiles/profiles.xml
    src: .config/ario/profiles/profiles.xml
  f_bak.sh:
    dst: ~/scripts/bak.sh
    src: scripts/bak.sh
  f_bira_custom.zsh-theme:
    dst: ~/.oh-my-zsh/themes/bira_custom.zsh-theme
    src: .oh-my-zsh/themes/bira_custom.zsh-theme
  f_dunstrc:
    actions:
    - dunst-restart
    dst: ~/.config/dunst/dunstrc
    src: .config/dunst/dunstrc
  f_gitconfig:
    dst: ~/.gitconfig
    src: .gitconfig
  f_gtk3_settings.ini:
    dst: ~/.config/gtk-3.0/settings.ini
    src: .config/gtk-3.0/settings.ini
  f_gtkrc-2.0.mine:
    dst: ~/.gtkrc-2.0.mine
    src: .gtkrc-2.0.mine
  f_hedgewars.desktop:
    dst: ~/.local/share/applications/hedgewars.desktop
    src: .local/share/applications/hedgewars.desktop
  f_keylayouttoggle.sh:
    dst: ~/scripts/keylayouttoggle.sh
    src: scripts/keylayouttoggle.sh
  f_mfixx_custom.ttf:
    actions:
    - font-cache-refresh
    dst: ~/.local/share/fonts/MFixx_custom.ttf
    src: .local/share/fonts/MFixx_custom.ttf
  f_netflix.desktop:
    dst: ~/.local/share/applications/netflix.desktop
    src: .local/share/applications/netflix.desktop
  f_pypirc:
    dst: ~/.pypirc
    src: .pypirc
  f_pythonrc:
    dst: ~/.pythonrc
    src: .pythonrc
  f_radio.sh:
    dst: ~/scripts/radio/radio.sh
    src: scripts/radio/radio.sh
  f_rofi_config:
    dst: ~/.config/rofi/config
    src: .config/rofi/config
  f_screenrc:
    dst: ~/.screenrc
    src: .screenrc
  f_syncit.desktop:
    dst: ~/.local/share/applications/syncit.desktop
    src: .local/share/applications/syncit.desktop
  f_tremc_settings.cfg:
    dst: ~/.config/tremc/settings.cfg
    src: .config/tremc/settings.cfg
  f_vimrc:
    dst: ~/.vimrc
    src: .vimrc
  f_wrapper.sh:
    dst: ~/scripts/wrapper.sh
    src: scripts/wrapper.sh
  f_xinitrc:
    dst: ~/.xinitrc
    src: .xinitrc
  f_xmodmap:
    dst: ~/.Xmodmap
    src: .Xmodmap
  f_xresources:
    actions:
    - reload-xresources
    dst: ~/.Xresources
    src: .Xresources
  f_zathurarc:
    dst: ~/.config/zathura/zathurarc
    src: .config/zathura/zathurarc
  f_zshrc:
    dst: ~/.zshrc
    src: .zshrc
profiles:
  ant:
    dotfiles:
    - d_gtk_theme
    - d_i3
    - d_mpv
    - d_nemo_actions
    - d_qutebrowser
    - d_syncit
    - d_termite
    - d_vim
    - d_yay
    - d_zshrc.d
    - f_ario_profiles.xml
    - f_bak.sh
    - f_bira_custom.zsh-theme
    - f_dunstrc
    - f_gitconfig
    - f_gtk3_settings.ini
    - f_gtkrc-2.0.mine
    - f_hedgewars.desktop
    - f_keylayouttoggle.sh
    - f_mfixx_custom.ttf
    - f_netflix.desktop
    - f_pypirc
    - f_pythonrc
    - f_radio.sh
    - f_rofi_config
    - f_screenrc
    - f_syncit.desktop
    - f_tremc_settings.cfg
    - f_vimrc
    - f_wrapper.sh
    - f_xinitrc
    - f_xmodmap
    - f_xresources
    - f_zathurarc
    - f_zshrc
  fuckup:
    dotfiles:
    - d_gtk_theme
    - d_i3
    - d_mpv
    - d_nemo_actions
    - d_qutebrowser
    - d_syncit
    - d_termite
    - d_vim
    - d_yay
    - d_zshrc.d
    - f_ario_profiles.xml
    - f_bak.sh
    - f_bira_custom.zsh-theme
    - f_dunstrc
    - f_gitconfig
    - f_gtk3_settings.ini
    - f_gtkrc-2.0.mine
    - f_hedgewars.desktop
    - f_keylayouttoggle.sh
    - f_mfixx_custom.ttf
    - f_netflix.desktop
    - f_pypirc
    - f_pythonrc
    - f_radio.sh
    - f_rofi_config
    - f_screenrc
    - f_syncit.desktop
    - f_tremc_settings.cfg
    - f_vimrc
    - f_wrapper.sh
    - f_xinitrc
    - f_xmodmap
    - f_xresources
    - f_zathurarc
    - f_zshrc
