# {{@@ header() @@}}

[Desktop Entry]
Name=Netflix
GenericName=Netflix
Comment=Netflix as chromium app
Categories=Network;AudioVideo;Player;
Exec=/usr/bin/chromium --kiosk --app=https://netflix.com
StartupNotify=true
Terminal=false
Type=Application

