# {{@@ env['dotdrop_warning'] @@}}

[Desktop Entry]
Version=0.1
Name=syncit
Terminal=false
Type=Application
MimeType=application;
Categories=Application;System;
Exec=/PATH/TO/syncit.sh
Icon=/PATH/TO/icon.png
Name[en_US]=syncit
