# This file is managed by dotdrop, only edit it in your dotdrop files!

[Desktop Entry]
Version=0.1
Name=syncit
Terminal=false
Type=Application
MimeType=application;
Categories=Application;System;
Exec=~/scripts/syncit/syncit.sh --zenity
Icon=~/scripts/syncit/icon.png
Name[en_US]=syncit
